*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

.about-list , .list-media , .list-panel{
list-style: none;
}

a{
text-decoration: none;
}

main{
margin-left: 300px;
}

body{
overflow-x: hidden;
}

html{
transition:all 1s ease;
scroll-behavior: smooth;
}